<div class="module lateralwithfootermenu" ng-controller="lateralwithfootermenuController">

  <div class="shadow" ng-show="muestramenu === 'open'" ng-click="muestramenu = 'close'"></div>

  <div class="menu" ng-class="muestramenu">

    <a class="item" ng-click="muestramenu = 'close'" ng-repeat="(key, value) in menu"
      ng-selected="isSelected(value.url)" ng-href="{{value.url}}">
      <i>
        <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
        <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
      </i>
      <span>{{value.text}}</span>
    </a>

    <iframe srcdoc="{{footerhtml}}"></iframe>
    

    <!--
    <div class="textwidget">
      <p>732/21 Second Street, Manchester, King Street, Kingston United Kingdom</p>
      <p>685-456-6743
        <br />
        <a href="#/lateralwithfootermenu-I69rR/superhtml-TYVFR">Make a Reservation</a>
      </p>
      <p class="p1">
        <span class="s1">Mon &#8211; Fri 11:30am &#8211; 8pm<br /></span>
        <span class="s1">Sat &#8211; Sun 11:30am &#8211; 9pm</span>
      </p>
      <p><img class="alignnone size-full wp-image-77"
          src="https://paquetesplantillas.s3.eu-west-1.amazonaws.com/grand_restaurant/ItalianCuisine/imagenes/index/signature.png"
          alt="" width="150" height="33" /></p>
    </div>
    -->





  </div>




  <div class="content">
    <div class="topMenu">
      <img src="{{navbarurl}}">
      <button ng-click="muestramenu = muestramenu === 'open'? 'close':'open'">
        <koa-icon icon="{{lateralwithfootermenu.icon}}" id="menuIcon" class="menuIcon"></koa-icon>
      </button>
    </div>
    <!-- moduleIdentifier + Template - Needs embracing div -->

    <div ng-include="lateralwithfootermenuTemplate" class="template"></div>
  </div>


</div>